body {
	margin: 0 auto;
	background-color: rgb(46, 29, 85);
	color: antiquewhite;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

p {
	font-size: 2rem;
}

a {
	color: rgb(235, 217, 246);
}


.lavande {
	padding: 100px;
	background: url("images/lavande.jpg") fixed center / cover;
}

h1 {
	color: white;
	text-align: center;
}

/*propriété de background-size seulement APRES background-position, et séparé par / !!!*/